*{
    margin: 0;
    padding: 0;
    border: 0
}
.box{

    width: 1350px;
    background: white;
    margin: 0 ;


}

/* Верх меню */
.topmenu{
    height:30px;
    margin-left:20px;
    margin-top:7px;
}
.topmenu a{
    transition:.5s;
    list-style: none;
    display: inline-block;
    margin-left:9px;
    font-size:0.7rem;
    text-decoration: none;
    color:silver;
}
.topmenu a:hover{
    transition:.5s;
    color:#800000;
}
/* Верх меню */
.shapka{
    height:80px;
    text-align:center;
    font-size: 0.7rem;
}
.shapka p{
    width:100px;
    height:100px;

}
.faceicon{
    margin-left:40px;
    margin-top:70px;
}
.faceicon p{
    height:10px;
    width:10px;
    padding-left:10px;
}
.logo{
    width:400px;
    height:10px;
    margin-top:-60px;
    margin-left:450px;
}
.zasnovana{
    padding-top:130px;
    margin-left:20px;
    margin-top:-80px;
}
.shapkamenu{
    margin-top:-10px;
    margin-left:1100px;
}
.shapkamenu a{
    transition:.5s;
    list-style: none;
    display: inline-block;
    margin-left:20px;
    font-size:1.2rem;
    text-decoration: none;
    color:silver;
}
.rightsmall a{
    transition:.5s;
    list-style: none;
    display: inline-block;
    margin-left:20px;
    font-size:0.8rem;
    text-decoration: none;
    color:silver;}

.rightsmall a:hover{
    color:#800000;
    transition:.5s;
}
.shapkamenu a:hover{
    transition:.5s;
    color:#800000;
}
}
/*big menu */


.bigmenu {
    height:30px;
    width:100px;
    margin-left:1110px;
    margin-top:7px;

}
.bigmenu a{
    transition:.5s;
    list-style: none;
    display: inline-block;
    margin-left:9px;
    font-size:1rem;
    text-decoration: none;
    color:black;
}
.bigmenu a:hover{
    transition:.5s;
    color:#800000;
}
/*big menu */

.reklamamenu{
    height:110px;
    width:100%;
    background:#595959;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #9f2c2c;
}
.reklamamenu a{
    list-style: none;
    display: inline-block;
    margin-left:9px;
    font-size:1rem;
    text-decoration: none;
    color:black;
}
.reklamafoto{
    margin-left:100px;
    margin-top:20px;
}
.reklamatext{
    height:90px;
    width:200px;
    background:#595959;
    color:white;
    margin-top:15px;
    margin-left:20px;
}
.reklamatext a{
    color: white;
    transition:.5s;
}
.reklamatext a:hover{
    color:darkgray;
    transition:.5s;
}
hr {
    margin-top:2px;
    color: #C0C0C0;
    background-color: #C0C0C0;
    height: 1px;
}
/* ЛІВЕ МЕНЮ*/
.leftbigblock{
    border-right: 1px silver solid;
    padding-right: 20px;
}

.leftbigblocktitle1{
    width:100px;
    color:#800000;
    font-size:1.2rem;
    margin-left:100px;
    margin-top:00px;
}

.leftbigblocktitle1 a{
    list-style: none;
    display: inline-block;
    font-size:1.3rem;
    text-decoration: none;
    color:#800000;
}
.rightsmall{
    margin-left: 290px;
    margin-top: -20px;
}

.leftbigblocktitle2{
    transition:.5s;
    display:inline-block;
    color:silver;
    font-size:1rem;
    margin-left:10px;
}
.leftbigblocktitle2 a{
    transition:.5s;
    margin-left:20px;
    font-size:1rem;
    text-decoration: none;
    color:silver;

}
.leftbigblocktitle2 a:hover{
    color:#800000;
}
.textgodunlink{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color:black;}
.novunupogoduni a:hover{
    color:#800000;
}
.godunu a:hover{
    color:#800000;
}
.godunu{
    font-size:1rem;
    margin-left:100px;
    margin-top:30px;
    text-decoration: none;
    color:gray;
}
.textgodun{
    color:black;
    margin-left:45px;
    margin-top:-19px;



}
.poloskahoroz{
    width:350px;
    height:1px;
    background:silver;
    margin-left:100px;
    margin-top:5px;
}
.poloskahoroz2{
    width:350px;
    height:2px;
    background:gray;
    margin-left:100px;
    margin-top:5px;
}
.veresnia{
    font-size:1.5rem;
    color:silver;
    margin-left:100px;
}
.navig{
    float:left;
    margin-left:1300px;
    margin-top:-100px;
    padding-top:5px;
}
/* ЛІВЕ МЕНЮ*/
/* ЦЕНТР МЕНЮ*/
.centerbigblock{

    margin-left:520px;
    margin-top:-3470px;

}
.godunu2{
    font-size:0.9rem;
    margin-left:0;
    margin-top:10px;
    text-decoration: none;
    color:gray;
}
.centerblocktext1{
    margin-left:-100px;
    margin-top:-30px;
}
.centerblocktext2 a{
    font-size:0.7rem;
}
.centerblocktext2{
    margin-left:320px;
    margin-top:-20px;
}
.centersmallfotos{
    margin-top:0;

}
.centersmallfoto{
    margin-top:30px;

}
.centersmallfotozagolovok{
    margin-left:200px;
    margin-top:-142px;
}
.centersmallfotozagolovok a{
    text-decoration: none;
    margin-left:110px;
    color:black;
}
.centersmallfotozagolovok a:hover{
    color:#800000;
}
.bigfoto2nuz{
    height:300px;
    margin-top:220px;
}
/* ЦЕНТР МЕНЮ*/
/* ПРАВЕ МЕНЮ*/
.rightbigblock{
    margin-left:530px;
    margin-top:-1038px;
    border-left: 1px silver solid;
    padding-left: 20px;
}
.rightbigblocknazva{
    height:150px;
    width:150px;
    margin-left:-100px;
    margin-top:-30px;
}
.topblogfoto{
    margin-top:10px;
}
.avtorbloga{
    margin-top:-70px;
    margin-left:60px;
    width:100%;
}
.avtorbloga a{
    list-style: none;
    display: inline-block;
    margin-left:9px;
    font-size:0.7rem;
    text-decoration: none;
    color: #800000;

}
.textblog1{
    margin-top:00px;
    margin-left:70px;
    width:110%;

}
.textblog1 a{
    color:black;
    text-decoration:none;
}
.textblog1 a:hover{
    color:#800000;
}
.rightbigblocknazva2{
    margin-left:-100px;
    margin-top:-30px;
}
.bigtextinblog{
    width:150%;
    font-size:0.9rem;
}
/* ПЕРД ПІДВАЛОМ */
.peredpidvalom{

}
.popularni{
    width:270%;
    height:200px;
    margin-left:-440px;
    margin-top:2500px;
    background:white;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #800000;}

.bigrednolink{
    font-size:1.3rem;
    color:#800000;
}
.popularnissulki{
    margin-left:800px;
    margin-top:-24px;
}
.popularnissulki a:hover{
    color:#800000
}
.popularninuvunu{
    height:100px;
    width:250px;
    margin-left:-450px;
    margin-top:-140px;
}
.bignumber{
    height:30px;
    width:30px;
    margin-top:-45px;
    margin-left:15px;
}
.bignumber1{
    height:30px;
    width:30px;
    margin-top:-65px;
    margin-left:15px;
}
.bignumber2{
    height:30px;
    width:30px;
    margin-top:-50px;
    margin-left:15px;
}
.bignumber3{
    height:30px;
    width:30px;
    margin-top:-70px;
    margin-left:15px;
}
.bignumber4{
    height:30px;
    width:30px;
    margin-top:-70px;
    margin-left:15px;
}
.trash1{
    height:100px;
    width:250px;
    margin-left:260px;
}
.trash2{
    height:100px;
    width:250px;
    margin-left:490px;
}
.trash3{
    height:100px;
    width:250px;
    margin-left:730px;
}
.trash4{
    height:100px;
    width:250px;
    margin-left:1000px;
    margin-top:-100px;
}
/*tabloid*/
.tabloid{
    height:1450px;
    width:307%;
    background:Gainsboro;
    margin-left:-550px;
    margin-top:-50px;
}
.bigtexttabloid{
    width: auto;
    height:50px;
    color:#800000;
    margin-left:140px;

}
.tabloidfoto{

    margin-left:100px;
}
.tabtab{
    margin-left:90px;
}
.tabtab a{
    margin-left:10px;
}
.textonfoto1{
    color:white;
    font-size:2rem;
    margin-left:80px;
    margin-top:-30px;
}
.textonfoto2{
    color:white;
    font-size:2rem;
    margin-left:450px;
    margin-top:-35px;
}
.textonfoto3{
    color:white;
    font-size:2rem;
    margin-left:830px;
    margin-top:-35px;
}
.textonfoto a{
    list-style: none;
    display:block;
    text-decoration: none;
    color:white;
}
.textonfoto a:hover{
    color: #AFEEEE;
}
.textonfoto{
    margin-top:-60px;
}
.tablo{
    margin-left:100px;
}
.tabsmalltext1{
    margin-left:-1190px;
    margin-top:170px;
    width:260px;
    height:300px;

}
.tabsmalltext2{
    margin-left:-900px;
    margin-top:110px;
    width:200px;
    height:300px;
}
.tabsmalltext3{
    margin-left:-690px;
    margin-top:170px;
    width:230px;
    height:300px;
}
.tabsmalltext4{
    margin-left:-405px;
    margin-top:110px;
    width:190px;
    height:300px;
}
.tabsmalltext5{
    margin-left:-200px;
    margin-top:110px;
    width:200px;
    height:300px;
}

.fastlink1{
    width:200px;
    height:440px;

    float:left;
    margin-left:50px;

}
.fastlinks{
    margin-left:40px;
    margin-top:-230px;
}
.fastlinkzagolovok{
    margin-left:10px;
    margin-top:10px;
}
.fastlinktext{
    margin-left:10px;
    margin-top:10px;
}
.fastlinktext a:hover{
    color:#800000;
}
.linia{
    margin-top:320px;
}
.pidval{
    width:1350px;
    height:400px;
    background:#595959;
    margin-left:-10px;
    margin-top:490px;
    border-top: 5px solid #800000;
}
.fastlink1 a:hover{
    color:#800000;
}
.pidvaltext1{
    font-size:0.9rem;
    width:100%;
    height:30px;
    color:white;
    margin-left:170px;
    margin-top:20px;
}
.pidvaltext2{
    font-size:0.9rem;
    width:850px;
    height:30px;
    color:white;
    margin-left:200px;
    margin-top:10px;


}
.textgodun a:hover{
    color:#800000;
}
.clearfix {
    clear: both;
}
.float-l{
    float:left;
}
.linehoriz{
    border-top:silver;
    width:100%;
    border-top-width: 1px;
    border-top-style: solid

}
.linehoriz2{
    border-top:silver;
    width:100%;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top:10px;
}
.linehoriz1{
    border-top:#800000;
    width:110%;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top:15px;
}
.linehoriz4{
    border-top:silver;
    width:167%;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top:-120px;
}
.linehoriz5{
    border-top:silver;
    width:167%;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top:10px;
    margin-bottom:10px;
}
.linehoriz3{
    border-top:#800000;
    width:100%;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top:15px;
}
.linehoriz6{
    border-top:#800000;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top:15px;
    width:1200px;
    margin-left:-450px;
    margin-bottom:-300px;
}
.poloskahoroz3{
    width:200px;
    height:1px;
    background:silver;

    margin-top:5px;
}
.w-33{
    width:33.3%
}
.vline{
    border-left: 1px solid black;
}
.w-110{
    width:250px;
}
.linehor{
    width: 1200px;
    height: 0px;
    border-bottom: 1px silver solid;
    margin-left: 80px;
    margin-top: 40px;
}
.dnopidval ul{
    list-style: none;
    margin-left:20px;
    font-size:1rem;
    color:white;
    margin-left: 300px;
    margin-top: 50px;
}
.dnopidval a{
    transition:.5s;
    list-style: none;
    margin-left:9px;
    font-size:1rem;
    text-decoration: none;
    color: white;
}
.dnopidval a:hover{
    color:darkslategray;
}

.dnopidval2 ul{
    list-style: none;
    margin-left:20px;
    font-size:0.8rem;
    color:white;
    margin-left: 800px;
    margin-top: -100px;
}
.dnopidval2 a{
    transition:.5s;
    list-style: none;
    margin-left:9px;
    font-size:0.8rem;
    text-decoration: none;
    color: white;
}
.dnopidval2 a:hover{
    color:darkslategray;
}

