<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Creat comment</title>
</head>
<style type="text/css">
    body {

        background-color: antiquewhite;
    }
</style>
<body>


<div class="topmenu">
    <ul>
        <a th:href="@{/Register}"/>
        <li>Register</li>
        </a>
        <a th:href="@{/login}">
            <li><b>LogIn</b></li>
        </a>

        <a th:href="@{/user}">
            <li>Edit Profile</li>
        </a>

        <a th:href="@{/logout}">
            <li><b>LogOut</b></li>
        </a>


    </ul>
</div>
<hr>
<div class="linehoriz"></div>
<div class="bigmenu" style="margin-left: 470px;">
    <ul>
        <a href="/">
            <li>MAIN</li>
        </a>
        <a href="#">
            <li>NEWS</li>
        </a>
        <a th:href="@{/posts}">
            <li>POSTS</li>
        </a>
        <a href="#">
            <li>ABOUT PROJECT</li>
        </a>
        <a th:href="@{/getinfo}">
            <li>INFO</li>
        </a>

    </ul>
</div>

<hr>
<div class="linehoriz"></div>



<div>
    <form  th:action="@{/createcomment}" method="post">
        <input type="text" name="body" placeholder="comment"/>
        <!--<input type="hidden" name ="post" th:value="${post.title}"/>-->
        <input type="hidden" name="commentator" th:value="${user.username}"/>
        <input type="submit" value="Create comment"/>
    </form>

</div>

<div th:replace="tmp/template::link"/>
</body>
</html>