<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<style type="text/css">
    body {

        background-color: antiquewhite;
    }
</style>
<body>


<div class="topmenu">
    <ul>
        <a th:href="@{/Register}"/>
        <li>Register</li>
        </a>
        <a th:href="@{/login}">
            <li><b>LogIn</b></li>
        </a>

        <a th:href="@{/user}">
            <li>Edit Profile</li>
        </a>

        <a th:href="@{/logout}">
            <li><b>LogOut</b></li>
        </a>


    </ul>
</div>
<hr>
<div class="linehoriz"></div>
<div class="bigmenu" style="margin-left: 470px;">
    <ul>
        <a href="/">
            <li>MAIN</li>
        </a>
        <a href="#">
            <li>NEWS</li>
        </a>
        <a th:href="@{/posts}">
            <li>POSTS</li>
        </a>
        <a href="#">
            <li>ABOUT PROJECT</li>
        </a>
        <a th:href="@{/getinfo}">
            <li>INFO</li>
        </a>

    </ul>
</div>

<hr>
<div class="linehoriz"></div>

Hello, <b th:text="${user.username}"/>

    <form  th:action="@{/createonepost}" method="post">
    <input type="text" name="title" placeholder="title"/>
    <input type="text" name="body" placeholder="input text here"/>
    <input type="hidden" name="author" th:value="${user.username}"/>

    <input type="submit" value="Create Post"/>
</form>



<div th:replace="tmp/template::link"/>
</body>
</html>