<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <title>Edit Page</title>
</head>
<style type="text/css">
    body {

        background-color: indianred
    }
</style>
<body>
<h3>Users List</h3>
<table>
    <tr>
        <th>EDIT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>NOT LOCKED</th>
    </tr>
    <tr th:each="use : ${UserX}">
        <td>
            <form  th:action="@{/delete}" method="get">
                <input type="hidden" name="id" th:value="*{use.id}"/>
                <input type="submit" value="detele"/>

            </form>
        </td>
        <td th:text="${use.id}">001</td>
        <td th:text="${use.username}">Name</td>
        <td th:text="${use.email}">Email</td>
        <td th:text="${use.accountNonLocked}">Lock</td>

    </tr>
</table>
</body>
</html>