<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User</title>

</head>
<style type="text/css">
    body {

        background-color: darkviolet }
</style>
<body>
Hello,<b th:text="${user.username}"/>
<p/>
<p/>
<div >
    username <h3><div th:text="${user.username}"></div></h3>
    password <h3><div th:text="${user.password}"></div></h3>
    email <h3><div th:text="${user.email}"></div></h3>
    avatar <img th:src="${user.avatar}" th:alt="${username}">

</div>

</body>
</html>